.signup-form {
    /* Styles for the form container */
    display: flex; /* Arrange elements horizontally */
    flex-direction: column; /* Stack elements vertically */
  

    align-items: center; /* Center elements horizontally */
    margin: 20px auto; /* Add margin for spacing */
    padding: 20px; /* Add padding for inner spacing */
     /* Add a border (optional) */
    border-radius: 5px; /* Add rounded corners (optional) */
  }
  
  .signup-form label {
    /* Styles for labels */

    display: block; /* Make labels on separate lines */
    
    
    margin-bottom: 5px; /* Add spacing below labels */
    font-weight: bold; /* Make labels bold for emphasis (optional) */
  }
  
  .signup-form input,
  .signup-form button {
    /* Styles for inputs and button */
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px; /* Add spacing between elements */
    width: 100%; /* Make inputs and button full width */
  }
  
  .signup-form button {
    position: inherit;
    /* Additional styles for button (optional) */
    background-color: #007db3; /* Example background color */
    color: white; /* Example text color */
    cursor: pointer; /* Indicate clickable behavior */
  }

  /* ... existing styles ... */

.signup-form input[type="password"] {
    position: relative; /* Position the icon relative to the input */
  }
  
  .signup-form i {
    position: absolute; /* Position the icon absolutely */
    right: 10px; /* Adjust icon right position */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Align icon with input text */
    cursor: pointer; /* Indicate clickable behavior */
    color: #ccc; /* Example icon color */
  }
  
  .signup-form i:hover {
    color: #4CAF50; /* Example hover color */
  }
  